*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url('img/imagem\ de\ fundo.png') no-repeat center;
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página (opcional) */
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

input{
    border: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.612);
    border-radius: 4px;
    padding: 8px;
}

input:focus{
    border: 2px solid rgb(104, 104, 242);
    outline: none;
}

button{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(201, 201, 201);
    cursor: pointer;
}

button:hover{
    background-color: rgb(155, 155, 255);
    transition: 0.3s ease;
    color: white;
}