*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #4CC9F0;
    color: white;
}

footer{
    padding: 10px;
    background-color: #4CC9F0;
    color: white;
    text-align: center;
    font-size: 22px;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

a:hover{
    color: #f26a8d;
}

nav{
    display: flex;
    gap: 50px;
}

.topos{
    cursor: pointer;
}

.topos:hover{
    color: #f26a8d;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #4CC9F0;
    padding: 15px;
    border-radius: 10px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;
}

.menu ul li a:hover {
    background-color: #4CC9F0;
    border-radius: 6px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

/* Botão (span) */
.drop-btn {
    background: #4CC9F0;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
}

/* Efeito hover no botão */
.drop-btn:hover {
    background: #4CC9F0;
}

/* Conteúdo do dropdown */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    background: white;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;
}

/* Estilo dos links */
.dropdown-content a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
}

/* Hover nos links */
.dropdown-content a:hover {
    background: #eeeeee;
}

/* Mostrar dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

img{
    width: 100%;
    max-width: 22px;
}