* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    min-height: 100vh
}

.avaliacoes{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(215, 215, 215);
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
}