* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    min-height: 100vh
}

.avaliacao{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
}

h2{
    text-align: center;
    margin: 80px;
    padding: 20px 0 0 0;
}

section{
    background-color: rgb(228, 228, 228);
}

.containerAvalicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
    background-color: white;
}

.containerAvalicao:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nota{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}